<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/task1.css">
</head>

<body>
    <div class="nav">
        <h1 class="logo">MyWebApp</h1>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contect.html">Contact</a></li>
        </ul>
    </div>
    <div class="main-cont">
        <div class="about-content">
            <h1>About Me:</h1>
            <p>Hello everyone,
                I am Sunil Chanagoudanavar, a second year Computer Science Engineering student at Sharad
                Institute Of Technology (SIT). I have successfully completed first year with CGPA of 7.5.</p>
            <p>I am really interested in learning new things in the field of technology and improving my skills step by
                step. I like to work on small projects and understand concepts practically, not just theoretically.</p>
            <p> I consider myself a hardworking and sincere person. I enjoy working on my own as well as in a team where
                I can learn from others and also contribute my part.
                Right now, my main focus is to build strong basics and gain real experience so that I can grow in my
                career and become better every day.
                Thank you!</p>
            <hr>
            <h3>Skills:</h3>
            <div class="skills-flex-container">
                <div class="skill-column">
                    <h4>Technical skills:</h4>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Python(Flask)</li>
                        <li>SQL(database)</li>
                    </ul>
                </div>
                <div class="skill-column">
                    <h4>Non-technical skills:</h4>
                    <ul>
                        <li>Communication</li>
                        <li>Problem Solving</li>
                        <li>Teamwork</li>
                        <li>Time Management</li>
                    </ul>
                </div>
            </div>
            <hr>
            <h3>Projects:</h3>
            <div class="skill-column" style="margin-top: 20px;">
                <ul>
                    <li><strong>Student Management System:</strong> Developed a simple web-based application to manage student records, allowing users to add,
                    update, and delete student details.</li>
                    <li><strong>Agri-Marketing E-Commerce:</strong> Built an online agri-marketing website to connect farmers with consumers.</li>
                    <li><strong>Notes-Sharing Platform:</strong> Developed a web application for students to share and access study materials.</li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
            <div class="footer-content">
                <p>&copy; 2024 MyWebApp. All rights reserved.</p>
            </div>
        </footer>
</body>

</html>