<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Web Page</title>
        <link rel="stylesheet" href="../static/css/task1.css">
    </head>
    <body>
         <div class="nav">
               <h1 class="logo">MyWebApp</h1>
              <ul class="menu">
                  <li><a href="task1.html">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="contect.html">Contact</a></li>
              </ul>
        </div>

        <div class="container">
            <h1 id="wel">Welcome to MyWebApp Application</h1>
            <p id="para">This is a simple web page created using HTML.</p>
        
            <div class="dynamic">
                <h1>Featured Content</h1>
            </div>
            <div class="op-container">
                <p style="text-align: center; margin-bottom: 10px;">Hello User!</p>
                <div class="dyna-msg">
                    <h1 style="font-size:24px; margin-bottom: 0;">Welcome to our platform</h1>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-content">
                <p>&copy; 2024 MyWebApp. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>