<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>
<body>
    <nav>
        <h2>MyPortfolio</h2>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <section id="home" class="section">
        <h1>Hi, I'm <span style="color: var(--primary-color);">Sunil</span></h1>
        <p>A Computer Science student who enjoys working on web projects.</p>
    </section>

    <section id="skills" class="section">
        <h2>Technical & Professional Skills</h2>
        <div class="skills-grid">
            <div class="skill-tag">HTML5</div>
            <div class="skill-tag">CSS3</div>
            <div class="skill-tag">JavaScript</div>
            <div class="skill-tag">Python (Flask)</div>
            <div class="skill-tag">SQL Database</div>
            <div class="skill-tag">Problem Solving</div>
            <div class="skill-tag">Teamwork</div>
            <div class="skill-tag">Communication</div>
        </div>
    </section>

    <section id="projects" class="section">
        <h2>My Projects</h2>
        <div class="projects-container">
            <div class="project-card">
                <h3>Student Management System</h3>
                <p>A comprehensive web application to manage student records including adding, updating, and deleting entries.</p>
            </div>

            <div class="project-card">
                <h3>Notes Sharing Platform</h3>
                <p>A collaborative hub where students can upload, share, and access study materials effortlessly.</p>
            </div>

            <div class="project-card">
                <h3>Agri Marketing Website</h3>
                <p>An innovative e-commerce platform designed to directly connect local farmers with consumers.</p>
            </div>
        </div>
    </section>

    <section id="contact" class="section">
        <h2>Contact Me</h2>
        <div style="text-align: center;">
            <p>Email: <strong>sunilchangoudanaver@sitcoe.org.in</strong></p>
            <p>Phone: <strong>+91 8087326880</strong></p>
            <p>Location:Ichalkaranji, Kolhapur, Maharashtra, India</p>
        </div>
        <button>Send Message</button>
    </section>

    <footer>
        <p>© 2024 MyPortfolio | Sunil Chanagoudanavar</p>
    </footer>

</body>
</html>